#container {
	width: 1024px;
	font-family: 'Lucida Grande', Arial, Helvetica, Verdana, sans-serif;
	font-size: 12px;
}

#container h1 {
	color: darkGray;
	font-family: Lobster, serif;
	font-size: 4em;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0em;
	line-height: 1em;
	margin-bottom: 20px;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	word-spacing: 0em;
	text-align: center;
}

#mainbox {
	width: 500px;
	margin-left: auto;
  margin-right: auto;
}

#mainbox li {
	margin-top: 10px;
	padding: 5px;
	border: 1px solid transparent;
}

a {
	text-decoration: none;
	color: black;
	background-color: transparent;
}

a:hover {
  color: #71B7E6;
}

ul {
	list-style: none;
}
