.container_12 {
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }
  .container_12 .grid_1 {
    width: 6.333%;
    display: inline;
    float: left;
    position: relative;
    margin-left: 1%;
    margin-right: 1%; }
  .container_12 .prefix_1 {
    padding-left: 8.333%; }
  .container_12 .suffix_1 {
    padding-right: 8.333%; }
  .container_12 .push_1 {
    left: 8.333%; }
  .container_12 .pull_1 {
    left: -8.333%; }
  .container_12 .grid_2 {
    width: 14.667%;
    display: inline;
    float: left;
    position: relative;
    margin-left: 1%;
    margin-right: 1%; }
  .container_12 .prefix_2 {
    padding-left: 16.667%; }
  .container_12 .suffix_2 {
    padding-right: 16.667%; }
  .container_12 .push_2 {
    left: 16.667%; }
  .container_12 .pull_2 {
    left: -16.667%; }
  .container_12 .grid_3 {
    width: 23%;
    display: inline;
    float: left;
    position: relative;
    margin-left: 1%;
    margin-right: 1%; }
  .container_12 .prefix_3 {
    padding-left: 25%; }
  .container_12 .suffix_3 {
    padding-right: 25%; }
  .container_12 .push_3 {
    left: 25%; }
  .container_12 .pull_3 {
    left: -25%; }
  .container_12 .grid_4 {
    width: 31.333%;
    display: inline;
    float: left;
    position: relative;
    margin-left: 1%;
    margin-right: 1%; }
  .container_12 .prefix_4 {
    padding-left: 33.333%; }
  .container_12 .suffix_4 {
    padding-right: 33.333%; }
  .container_12 .push_4 {
    left: 33.333%; }
  .container_12 .pull_4 {
    left: -33.333%; }
  .container_12 .grid_5 {
    width: 39.667%;
    display: inline;
    float: left;
    position: relative;
    margin-left: 1%;
    margin-right: 1%; }
  .container_12 .prefix_5 {
    padding-left: 41.667%; }
  .container_12 .suffix_5 {
    padding-right: 41.667%; }
  .container_12 .push_5 {
    left: 41.667%; }
  .container_12 .pull_5 {
    left: -41.667%; }
  .container_12 .grid_6 {
    width: 48%;
    display: inline;
    float: left;
    position: relative;
    margin-left: 1%;
    margin-right: 1%; }
  .container_12 .prefix_6 {
    padding-left: 50%; }
  .container_12 .suffix_6 {
    padding-right: 50%; }
  .container_12 .push_6 {
    left: 50%; }
  .container_12 .pull_6 {
    left: -50%; }
  .container_12 .grid_7 {
    width: 56.333%;
    display: inline;
    float: left;
    position: relative;
    margin-left: 1%;
    margin-right: 1%; }
  .container_12 .prefix_7 {
    padding-left: 58.333%; }
  .container_12 .suffix_7 {
    padding-right: 58.333%; }
  .container_12 .push_7 {
    left: 58.333%; }
  .container_12 .pull_7 {
    left: -58.333%; }
  .container_12 .grid_8 {
    width: 64.667%;
    display: inline;
    float: left;
    position: relative;
    margin-left: 1%;
    margin-right: 1%; }
  .container_12 .prefix_8 {
    padding-left: 66.667%; }
  .container_12 .suffix_8 {
    padding-right: 66.667%; }
  .container_12 .push_8 {
    left: 66.667%; }
  .container_12 .pull_8 {
    left: -66.667%; }
  .container_12 .grid_9 {
    width: 73%;
    display: inline;
    float: left;
    position: relative;
    margin-left: 1%;
    margin-right: 1%; }
  .container_12 .prefix_9 {
    padding-left: 75%; }
  .container_12 .suffix_9 {
    padding-right: 75%; }
  .container_12 .push_9 {
    left: 75%; }
  .container_12 .pull_9 {
    left: -75%; }
  .container_12 .grid_10 {
    width: 81.333%;
    display: inline;
    float: left;
    position: relative;
    margin-left: 1%;
    margin-right: 1%; }
  .container_12 .prefix_10 {
    padding-left: 83.333%; }
  .container_12 .suffix_10 {
    padding-right: 83.333%; }
  .container_12 .push_10 {
    left: 83.333%; }
  .container_12 .pull_10 {
    left: -83.333%; }
  .container_12 .grid_11 {
    width: 89.667%;
    display: inline;
    float: left;
    position: relative;
    margin-left: 1%;
    margin-right: 1%; }
  .container_12 .prefix_11 {
    padding-left: 91.667%; }
  .container_12 .suffix_11 {
    padding-right: 91.667%; }
  .container_12 .push_11 {
    left: 91.667%; }
  .container_12 .pull_11 {
    left: -91.667%; }
  .container_12 .grid_12 {
    width: 98%;
    display: inline;
    float: left;
    position: relative;
    margin-left: 1%;
    margin-right: 1%; }
  .container_12 .prefix_12 {
    padding-left: 100%; }
  .container_12 .suffix_12 {
    padding-right: 100%; }
  .container_12 .push_12 {
    left: 100%; }
  .container_12 .pull_12 {
    left: -100%; }
  .container_12 .flush_left, .container_12 .alpha {
    margin-left: 0; }
  .container_12 .flush_right, .container_12 .omega {
    margin-right: 0; }
  .container_12 .flush {
    margin-left: 0;
    margin-right: 0; }
  .container_12 .row, .container_12 .newline {
    clear: left; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

/* remember to define focus styles! */
*:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 95%;
  font-family: "Lucida Grande", "Bitstream Vera Sans", Helvetica, Verdana, Arial, sans-serif; }

a {
  color: black;
  text-decoration: none; }
  a:hover {
    color: blue;
    text-decoration: none; }
  a.alt {
    color: #569bbe;
    text-decoration: underline; }
    a.alt:hover {
      text-decoration: none; }

big {
  font-size: 110%; }

h1 {
  font-size: 180%;
  font-weight: bold;
  margin: 0.75em 0; }

h3 {
  font-weight: bold;
  font-size: 130%;
  margin-top: 1.25em;
  margin-bottom: 0.5em; }

h4 {
  font-weight: bold; }

p {
  margin: 1em 0; }

td {
  vertical-align: middle; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

img {
  border: none;
  vertical-align: middle; }

input[type=image] {
  border: none;
  vertical-align: middle; }

input.big {
  font-size: 120%; }

#change_password span, span.info, span.error {
  font-size: 80%; }

.clear {
  font-size: 1px;
  clear: both; }

.warning {
  color: red; }

table {
  border-collapse: collapse; }

.center {
  margin: 0 auto; }

body {
  background: #eeeeee url("../../images/background.png") repeat-x;
  color: black; }

#container {
  width: 980px;
  margin: 0 auto 20px; }

#menu {
  margin: 40px 0 0; }
  #menu ul {
    height: 30px;
    float: right;
    margin: 0 10px 0 0; }
  #menu li {
    display: inline;
    background: white;
    padding: 5px 10px;
    font-size: 20px;
    text-shadow: 1px 1px 0 #cccccc; }
  #menu li:hover {
    background: black; }
  #menu li:hover a {
    color: white; }

#wrapper {
  background: white;
  clear: both;
  padding: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5); }

table {
  width: 90%; }
  table th {
    font-size: 25px;
    font-weight: 700;
    padding: 0 0 20px 0; }
  table td {
    padding: 10px 0;
    border-bottom: #cccccc 1px solid; }

fieldset {
  background: #858585;
  padding: 20px 15px;
  margin-bottom: 20px;
  overflow: hidden;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

form label {
  color: black;
  font-size: 25px;
  font-weight: 700;
  text-shadow: 1px 1px 0 #888888; }
form input[type=text], form input[type=password] {
  width: 90%;
  height: 30px;
  font-size: 20px;
  color: black;
  border: 1px solid black; }
form input {
  maring: 5px;
  font-size: 20px; }
form textarea {
  border: 1px solid black;
  width: 90%; }
form .buttons {
  background: white;
  padding: 12px 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
form .buttons:hover {
  background: #3dce24;
  color: white; }
form p {
  margin-bottom: 0; }

.box {
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15); }

#welcome {
  text-align: center;
  margin: 6em auto; }
  #welcome img {
    position: relative;
    z-index: 10; }
  #welcome a {
    background: white;
    color: black;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px;
    font-size: 25px;
    cursor: pointer;
    font-weight: 700;
    -webkit-box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5); }
  #welcome a:hover {
    background: #3dce24;
    color: white; }
  #welcome li {
    display: inline; }
  #welcome p {
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1);
    font-size: 25px;
    padding: 0;
    margin: 2em;
    font-weight: 700;
    text-align: left;
    color: #cccccc;
    text-align: center; }
  #welcome .slogan {
    width: 100%; }
  #welcome .button {
    position: absolute;
    z-index: 5;
    top: 235px; }

#login {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
  width: 500px;
  margin: 60px auto 0;
  background: black;
  padding: 20px; }

#notice, #error {
  padding: 1px 1em; }

#notice {
  background-color: #b2e5b2;
  color: #006600; }

#error {
  background-color: #f3c2c2;
  color: #770000; }

/*
 * FancyBox - jQuery Plugin
 * Simple and fancy lightbox alternative
 *
 * Examples and documentation at: http://fancybox.net
 * 
 * Copyright (c) 2008 - 2010 Janis Skarnelis
 *
 * Version: 1.3.1 (05/03/2010)
 * Requires: jQuery v1.3+
 *
 * Dual licensed under the MIT and GPL licenses:
 *   http://www.opensource.org/licenses/mit-license.php
 *   http://www.gnu.org/licenses/gpl.html
 */
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 40px;
  width: 40px;
  margin-top: -20px;
  margin-left: -20px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1104;
  display: none; }

* html #fancybox-loading {
  /* IE6 */
  position: absolute;
  margin-top: 0; }

#fancybox-loading div {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 480px;
  background-image: url("../../../images/fancybox/fancybox.png"); }

#fancybox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  z-index: 1100;
  display: none; }

* html #fancybox-overlay {
  /* IE6 */
  position: absolute;
  width: 100%; }

#fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  overflow: auto;
  display: none; }

#fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 20px;
  z-index: 1101;
  display: none; }

#fancybox-outer {
  position: relative;
  width: 100%;
  height: 100%;
  background: #FFF; }

#fancybox-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: 0;
  outline: none;
  overflow: hidden; }

#fancybox-hide-sel-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent; }

#fancybox-close {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background-image: url("../../../images/fancybox/fancybox.png");
  background-position: -40px 0px;
  cursor: pointer;
  z-index: 1103;
  display: none; }

#fancybox_error {
  color: #444;
  font: normal 12px/20px Arial;
  padding: 7px;
  margin: 0; }

#fancybox-content {
  height: auto;
  width: auto;
  padding: 0;
  margin: 0; }

#fancybox-img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  line-height: 0;
  vertical-align: top;
  -ms-interpolation-mode: bicubic; }

#fancybox-frame {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  display: block; }

#fancybox-title {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: Arial;
  font-size: 12px;
  z-index: 1102; }

.fancybox-title-inside {
  padding: 10px 0;
  text-align: center;
  color: #333; }

.fancybox-title-outside {
  padding-top: 5px;
  color: #FFF;
  text-align: center;
  font-weight: bold; }

.fancybox-title-over {
  color: #FFF;
  text-align: left; }

#fancybox-title-over {
  padding: 10px;
  background-image: url("../../../images/fancybox/fancy_title_over.png");
  display: block; }

#fancybox-title-wrap {
  display: inline-block; }

#fancybox-title-wrap span {
  height: 32px;
  float: left; }

#fancybox-title-left {
  padding-left: 15px;
  background-image: url("../../../images/fancybox/fancybox.png");
  background-position: -40px -90px;
  background-repeat: no-repeat; }

#fancybox-title-main {
  font-weight: bold;
  line-height: 29px;
  background-image: url("../../../images/fancybox/fancybox-x.png");
  background-position: 0px -40px;
  color: #FFF; }

#fancybox-title-right {
  padding-left: 15px;
  background-image: url("../../../images/fancybox/fancybox.png");
  background-position: -55px -90px;
  background-repeat: no-repeat; }

#fancybox-left, #fancybox-right {
  position: absolute;
  bottom: 0px;
  height: 100%;
  width: 35%;
  cursor: pointer;
  outline: none;
  background-image: url("../../../images/fancybox/blank.gif");
  z-index: 1102;
  display: none; }

#fancybox-left {
  left: 0px; }

#fancybox-right {
  right: 0px; }

#fancybox-left-ico, #fancybox-right-ico {
  position: absolute;
  top: 50%;
  left: -9999px;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  cursor: pointer;
  z-index: 1102;
  display: block; }

#fancybox-left-ico {
  background-image: url("../../../images/fancybox/fancybox.png");
  background-position: -40px -30px; }

#fancybox-right-ico {
  background-image: url("../../../images/fancybox/fancybox.png");
  background-position: -40px -60px; }

#fancybox-left:hover, #fancybox-right:hover {
  visibility: visible;
  /* IE6 */ }

#fancybox-left:hover span {
  left: 20px; }

#fancybox-right:hover span {
  left: auto;
  right: 20px; }

.fancy-bg {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  width: 20px;
  height: 20px;
  z-index: 1001; }

#fancy-bg-n {
  top: -20px;
  left: 0;
  width: 100%;
  background-image: url("../../../images/fancybox/fancybox-x.png"); }

#fancy-bg-ne {
  top: -20px;
  right: -20px;
  background-image: url("../../../images/fancybox/fancybox.png");
  background-position: -40px -162px; }

#fancy-bg-e {
  top: 0;
  right: -20px;
  height: 100%;
  background-image: url("../../../images/fancybox/fancybox-y.png");
  background-position: -20px 0px; }

#fancy-bg-se {
  bottom: -20px;
  right: -20px;
  background-image: url("../../../images/fancybox/fancybox.png");
  background-position: -40px -182px; }

#fancy-bg-s {
  bottom: -20px;
  left: 0;
  width: 100%;
  background-image: url("../../../images/fancybox/fancybox-x.png");
  background-position: 0px -20px; }

#fancy-bg-sw {
  bottom: -20px;
  left: -20px;
  background-image: url("../../../images/fancybox/fancybox.png");
  background-position: -40px -142px; }

#fancy-bg-w {
  top: 0;
  left: -20px;
  height: 100%;
  background-image: url("../../../images/fancybox/fancybox-y.png"); }

#fancy-bg-nw {
  top: -20px;
  left: -20px;
  background-image: url("../../../images/fancybox/fancybox.png");
  background-position: -40px -122px; }

/* IE */
#fancybox-loading.fancybox-ie div {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_loading.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-close {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_close.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-title-over {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_over.png', sizingMethod='scale');
  zoom: 1; }

.fancybox-ie #fancybox-title-left {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_left.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-title-main {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_main.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-title-right {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_right.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-left-ico {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_left.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-right-ico {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_right.png', sizingMethod='scale'); }

.fancybox-ie .fancy-bg {
  background: transparent !important; }

.fancybox-ie #fancy-bg-n {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_n.png', sizingMethod='scale'); }

.fancybox-ie #fancy-bg-ne {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_ne.png', sizingMethod='scale'); }

.fancybox-ie #fancy-bg-e {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_e.png', sizingMethod='scale'); }

.fancybox-ie #fancy-bg-se {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_se.png', sizingMethod='scale'); }

.fancybox-ie #fancy-bg-s {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_s.png', sizingMethod='scale'); }

.fancybox-ie #fancy-bg-sw {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_sw.png', sizingMethod='scale'); }

.fancybox-ie #fancy-bg-w {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_w.png', sizingMethod='scale'); }

.fancybox-ie #fancy-bg-nw {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_nw.png', sizingMethod='scale'); }
